HudStuff {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgba( 0, 0, 0, 0.0 );
    justify-content: center;
    font-family: Roboto;

    .gravitybar {
        position: absolute;
        width: 13%;
        height: 40px;
        left: 51%;
        top: 2%;
        border: 2px solid rgb(255 255 255);
        background-color: dodgerblue;
        border-radius: 5px;
        border-color: deepskyblue;
        color: rgb(255, 255, 255);
    }

    .gravity {
        position: absolute;
        text-align: center;
        //transform: translateX(-50%) translateY(-50%);
        background-color: rgba( rgba(0, 0, 0, 1.0), 0.0 );
        color: ghostwhite;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .Distbar {
        position: center;
        width: 9%;
        height: 40px;
        top: 2%;
        right: 6%;
        border: 2px solid rgb(255 255 255);
        background-color: dodgerblue;
        border-radius: 5px;
        border-color: deepskyblue;
        color: rgb(255, 255, 255);
    }

    .Dist {
        position: absolute;
        text-align: center;
        background-color: rgba( rgba(0, 0, 0, 1.0), 0.0 );
        color: ghostwhite;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}
